<div class="styleguide-page">
	<div class="styleguide-sidebar">
		<div class="styleguide-brand">
			<img src="/static/aconex-logo.png">
			<a href="/">{{{lib_package.styleguide.title}}}</a>
		</div>
		<div class="styleguide-package">
			v{{lib_package.version}}
		</div>
		<div class="styleguide-nav-search">
			<input type="search" id="searchInput" name="search" value="" placeholder="Search">
		</div>
		<ul class="styleguide-nav">
			{{#each menu.sections}}
				<li>{{title}}
					<ul>
						{{#each items}}
							<li><a href="{{url}}"{{#if active}}class="active"{{/if}}{{#if keywords}}data-keywords="{{keywords}}"{{/if}}>{{title}}</a></li>
						{{/each}}
					</ul>
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="styleguide-content">
		<div>{{{contents}}}</div>
	</div>
</div>
